.clearfix:after {
  content:'';
  display:table;
  clear:both;
}
html {
  overflow-x: hidden;
}
body {
  padding: 0; margin: 0; border: 0;
  font-size: 1.1em;
  min-height: 100%;
  background: #ccc;
  background: #fff;
  font-family: 'Karla', arial, sans-serif;
  overflow-x: hidden;
}
.content {
  padding: 0 5% 5%;
  background: #fff;
}
input {border-radius: 0;}
header {
  background: #fff;
  height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
#logo {
  margin: 11px 0 11px 10px;
  
}
.signin {
  float: right;
  font-weight: bold;
  font-size: 0.9em;
}
#toggle-signin {
  display: block; 
  float: right;
  top:0;
  padding-right: 5px;
}
.btn, input[type="submit"] {
  display: block;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Karla', arial, sans-serif;
}
.buy-button, input[type=submit] {
  background: #e1c701; /*light green*/
  margin-top: 1em;
  
}
.sell-button {
  background: #a69501; /*dark green*/
  
}
.smaller-button {
  font-size: 16px;
  padding: 6px 10px;
}

.cancel-button {
  background: lightgray;
}
.accordion {
  border: 1px solid #ddd;
  display: block;
  padding: 0.5em;
  background: #ddd;
}
.accordion.expanded {
  border-bottom: 0;
}
.accordion.expanded .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion.expanded + section {
  height: auto;
  max-height: 900px;
  border: 1px solid #ddd;
  -webkit-transition: max-height 0.5s ease-in-out, border 0s;
  transition: max-height 0.5s ease-in-out, border 0s;
  padding: 0 0.5em;
}
.accordion + section {
  max-height:0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out, border 0s 0.5s;
  transition: max-height 0.5s ease-in-out, border 0s 0.5s;
  padding: 0 0.5em;
  border: 1px solid #fff;
}
.padded {
  margin: 0.5em 0;
}
.float-button {
  float: left;
  margin-right: 5px;
}
.accordion.expanded + section.all-items {
  max-height: 330px;
  overflow: auto;
}
 
.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  background: #fff;
  -webkit-transition: right .5s;
  transition: right .5s;
  z-index: 5;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.pop-up .wrapper {
  padding: 1em;
}
.pop-up .toggle-pop-up {
  float: right;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.3em;
}
.toggle-pop-up .line-1, .line-2 {
  width: 21px;
  height: 3px;
  background: gray;
}
.toggle-pop-up .line-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 8px;
}
.toggle-pop-up .line-2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px;
}
body.show-pop-up .pop-up{
  right: 0;
}
a.text-link {
  text-decoration: underline;
  color: #000;
}
input, textarea {
  font-size: 1.1em;
  font-family: 'Karla', arial, sans-serif;
}
 
section .row {
  padding: 1em 0;
  border-top: 1px solid #e1c701; /*light green*/
}
section .row:first-of-type {
  border-top: none;
}
.row .green {
  color: #e1c701; /* light green */
}
.row .details {
  font-size: 14px;
  margin: 0;
}
 
.messages-box {
  border: 1px solid lightgray;
  max-height: 236px;
  overflow-y: auto;
}
.messages-box .message-row {
  padding: 1em 5%;
  border-top: 1px solid #e1c701; /*light green*/
}
.messages-box .message-row:first-of-type {
  border-top: none;
}
.message-row .username {
  color: #e1c701; /*light green*/
  font-weight: bold;
  font-size: 0.9em;
}
.message-row .time {
  float: right;
  font-size: 0.8em;
}
 
textarea.send-message {
  border: 1px solid lightgray;
  -webkit-appearance: none;
  appearance: none;
  width:100%;
  margin-top: 1em;
  padding: 0.5em 0;
  display: block;
}
 
.messages-box-header {
  margin-top:1em;
  background: lightgray;
  padding: 0.5em;
}
.messages-box-header span.username {
  font-weight: bold;
}
.swipebox {
  display: inline-block;
  width: 93px;
  height: 93px;
  overflow: hidden;
}
.swipebox img {
  height: 100%;
  width: auto;

}
.images {
  max-height: 98px;
  overflow: hidden;
  -webkit-transition: max-height 1s; transition: max-height 1s;
}
.images.view-all {
  max-height: 500px;
  height: auto;
}
.toggle-images {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 1em 0 2em;
}

.item-name {
  color: #000;
  font-size: 1.5em;
  margin: 0.5em 0 0;
}
.item-name + p {
  margin: 0 0 0.5em;
}
span.gray {
  color: gray;
  font-weight: bold;
}
span.green {
  color: #e1c701; /*light green*/
  font-weight: bold;
}
.item-listing-page .accordion {
  margin-top: 0.5em;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  background:url(../images/none.gif);
  width: 112px;
  height: 24px;
  z-index: 10;
}
.star-rating {
  list-style:none;
  margin:0px;
  padding:0px;
  width:110px;
  height:22px;
  position:relative;
  background:url(../images/star.png) repeat-x;
  float: left;
}
.star-rating li{
  float:left;
  padding:0 !important;
  width:auto !important;
  border:0 !important;
}
.star-rating li a{
  display:block;
  width:11px;
  height:22px;
  text-decoration:none;
  text-indent:-9000px;
  z-index:2;
  position:absolute;
  padding:0px;
}
.star-rating li a:hover,
.star-rating li.setted a{
  background:url(../images/star.png) 0 100%;
  z-index:1;
  left:0px;
}

.star-rating a.s0{left:0px;}
.star-rating a.s0:hover,
.star-rating li.setted a.s0{width:0px;}

.star-rating a.s5{left:0px;}
.star-rating a.s5:hover,
.star-rating li.setted a.s5{width:11px;}

.star-rating a.s10{left:11px;}
.star-rating a.s10:hover,
.star-rating li.setted a.s10{width:22px;}

.star-rating a.s15{left:22px;}
.star-rating a.s15:hover,
.star-rating li.setted a.s15{width:33px;}

.star-rating a.s20{left:33px;}
.star-rating a.s20:hover,
.star-rating li.setted a.s20{width:44px;}

.star-rating a.s25{left:44px;}
.star-rating a.s25:hover,
.star-rating li.setted a.s25{width:55px;}

.star-rating a.s30{left:55px;}
.star-rating a.s30:hover,
.star-rating li.setted a.s30{width:66px;}

.star-rating a.s35{left:66px;}
.star-rating a.s35:hover,
.star-rating li.setted a.s35{width:77px;}

.star-rating a.s40{left:77px;}
.star-rating a.s40:hover,
.star-rating li.setted a.s40{width:88px;}

.star-rating a.s45{left:88px;}
.star-rating a.s45:hover,
.star-rating li.setted a.s45{width:99px;}

.star-rating a.s50{left:99px;}
.star-rating a.s50:hover,
.star-rating li.setted a.s50{width:112px;}

.num-of-reviews {
  font-size: 0.8em;
  margin-left: 0.5em;
}
.holder{
  width: 100%;
  position: relative;
}

/* HAMBURGER BUTTON */
.hamburger {
  float: right;
  height: 30px;
  width: 25px;
  margin: 7.5px 5% 7.5px 0;
}
.header-menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s, border-color 0s 0.5s;
  transition: max-height 0.5s, border-color 0s 0.5s;
  border-bottom: 1px solid transparent;
}
.header-menu.expanded {
  height: auto;
  max-height: 500px;
  border-bottom: 1px solid lightgray;
  -webkit-transition: max-height 0.5s, border-color 0.5s;
  transition: max-height 0.5s, border-color 0.5s;
}
.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: lightgray;
}
.header-menu a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-top: 1px solid #efefef;
  padding: 0 5%;
  display: block;
  line-height: 2em;
}
.header-menu ul li:first-of-type a {
  border-top: 0;
}
.line {
  width: 100%;
  height: 3px;
  margin: 5px 0;
  background: darkgray;
}

/* ACCORDION ARROWS */
.accordion .arrow {
  float: right;
  position: relative;
  width: 16px;
  height: 18px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.accordion .arrow .line-1, .accordion .arrow .line-2 {
  height: 3px;
  width: 15px;
  background: gray;
  position: absolute;
}
.accordion .arrow .line-1 {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  margin-top: 4px;
}
.accordion .arrow .line-2 {
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  margin-top: 11px;
}



/* calendar */
.calendar {
  width: 100%;
  position: relative;
}
.calendar td {
  border-top: 1px solid lightgray;
  height: 2em;
}
.calendar td.highlighted {
  background: #e1c701; /*light green*/
}.calendar td {
  width: 33%;
  border-left: 1px solid lightgray;
  text-align:center;
}
.calendar tr > td:first-of-type {
  border-left:none;
}
.calendar tr td .time {
  //visibility: hidden;
}
.calendar tr td:first-of-type .time {
  //visibility: visible;
}
.calendar .time {
  font-size: 0.8em;
}
.calendar-header {
  width: 100%;
}
.days-row th {
  width: 33%;
  border-left: 1px solid #fff;
}
.days-row th:first-of-type {
  border-left: none;
}

.ui-loader {
  display: none;
}

#add-another-photo {
  margin-top: 1em;
  display: block;
}
